[submodule "services/api"]
	path = services/api
	url = https://github.com/andcast77/multisystem-api.git

[submodule "services/database"]
	path = services/database
	url = https://github.com/andcast77/multisystem-database.git
